In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_excel('metrorio.xlsx')
df.head()

    ano  mes               estacao  linha numero_de_pessoas
0  1998    1            Saens Pe単a      1           624.691
1  1998    1  Sao Francisco Xavier      1           148.769
2  1998    1           Afonso Pena      1           179.229
3  1998    1              Estacio       1           172.012
4  1998    1            Praca Onze      1           122.723

In [3]:
df=pd.read_excel('metrorio.xlsx')
df['data']=df[['ano','mes']].apply(lambda x: '0'+str(x['mes'])+'/'+str(x['ano'])[2:],axis=1)

def f(x):
    if len(x)>5:
        return x[1:]
    else:
        return x

df['data']=df['data'].apply(lambda x: f(x))
df=df[['data','estacao','linha','numero_de_pessoas']]
df.rename(columns={'numero_de_pessoas':'n_passageiros'},inplace=True)
df['estacao']=df['estacao'].apply(lambda x: x.rstrip().lstrip())
df.head()

    data               estacao  linha n_passageiros
0  01/98            Saens Pe単a      1       624.691
1  01/98  Sao Francisco Xavier      1       148.769
2  01/98           Afonso Pena      1       179.229
3  01/98               Estacio      1       172.012
4  01/98            Praca Onze      1       122.723

In [4]:
df.applymap(np.isreal)['n_passageiros'].value_counts()

True     10583
False      124
Name: n_passageiros, dtype: int64

In [5]:
null_idx=df.loc[df['n_passageiros']=='...'].index.values.tolist()
len(null_idx)

124

In [6]:
df.drop(index=null_idx,inplace=True)
df.shape

(10583, 4)

In [7]:
df['n_passageiros']=df['n_passageiros'].apply(lambda x: round(x,3))
df['n_passageiros']=df['n_passageiros'].apply(lambda x: int(str(x).replace('.','')))

In [8]:
df.to_csv('metrorio_data.csv',index=False)